@{
    ViewData["Title"] = "Home Page";
}
<div class="navbar-logo">
   <img src="~/css/Images/game-controller.jpg" alt="game-controller.jpg" height="60" width="60" />
</div>
<div class="jumbotron accordion-body">
  <h1 class="display-4">Looking For Group</h1>
  <p class="lead">This website is built for gamers looking for their next friend to play with on their favorite games! </p>
  <p>Below are some sample profiles, or what we call game cards, they will include a user name and games that a user frequents</p>
  <hr class="my-4">



<div class="card-group">
  <div class="card" >
    <img class="card-img-top" src="css/Images/pathfinder-apex.webp" alt="Card image cap" >
    <div class="card-body" width="180px" height="180px"">
      <h5 class="card-title">Pathfinder_Main</h5>
      <p class="card-text">I like to play Apex Legends, looking for people who will play ranked arenas!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="css/Images/tom-nook.jpg" alt="Card image cap">
    <div class="card-body" width="180px" height="180px">
      <h5 class="card-title">CrossingAnimal45</h5>
      <p class="card-text">I'm a light gamer, but I thought it would be nice to find people who can visit my island and vice versa.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="css/Images/super_meat_boy.webp" alt="Card image cap" >
    <div class="card-body" width="180px" height="180px">
      <h5 class="card-title">Superb Meat Man</h5>
      <p class="card-text">I'm an all around gamer, just looking for friends and game suggestions!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


 
</div>

