@page
@model FriendModel

@{ 
    ViewData["Title"] = "Friends";
}

<h3>@ViewData["Friends"]</h3>

<div class = "row">
    @*create cards for each crate model*@
    @foreach (FriendModel item in Model.AllFriends) 
    {
        <div class = "col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://via.placeholder.com/200" class="card-img-top" alt="Cover for @item.UserName">
              <div class="card-body">
                <h5 class="card-title"><u>@item.UserName</u></h5>
                <p class="card-text">
                    A description of the friend can go here.
                </p>
              </div>
            </div>
        </div>
    }
    </div>
